.timeSlider {
  background-color: var(--ld-bg);
  border-radius: 25px;
  padding: 0 19px 0 0;
  box-shadow: 0 4px 4px 0 var(--ld-gray-2);
  display: flex;
  height: 50px;
  align-items: flex-start;
  position: absolute;
  width: 100%;
  max-width: 60vw;
  bottom: 40px;
  left: 40px;
}

.flexWrapperOne {
  background-color: var(--ld-hover);
  margin-right: 10px;
  border-radius: 25px;
  width: 20vw;
  height: 50px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.datePickerIcon {
  margin-right: 8px;
}

.date {
  color: var(--ld-gray-2);
}

.dateEmphasis1 {
  color: var(--ld-gray-2);
}

.playButton {
  width: 4.36%;
  height: 35%;
  margin-top: 13px;
  margin-right: 11.75px;
}

.relativeWrapperOne {
  width: 40vw;
  height: 2px;
  margin-top: 24px;
  position: relative;
}

.timeline {
  width: 100%;
  height: 100%;
  background-color: var(--ld-gray-2);
  position: relative;
}

.sliderButton {
  width: 20px;
  height: 20px;
  background-color: var(--ld-yellow-1);
  border-radius: 50%;
  position: absolute;
  left: 51px;
  top: -8px;
}
