.dark.CountryInfo {
  color: #e0e0e0!important;
  background-color: #333333!important;
  height: 100%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.CountryInfo {
  background-color: #e0e0e0;
  color: #333333;
  height: 100%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}