.btn {
  position: absolute;
  bottom: 240px;
  right: 2vw;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--ld-bg);
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.1);
  display: flex;
  color: var(--ld-text);
  justify-content: center;
  align-items: center;
  padding: 12px;
  cursor: pointer;
}

:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.dialog {
  display: none;
  transition: 0.2s;
  position: absolute;
  padding: 5px 7px;
  background-color: var(--ld-bg);
  flex-direction: column;
  color: var(--ld-text);
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  cursor: default;
}

.dialog.top {
  top: 0%;
}

.dialog.top::after {
  top: 30%;
}

.dialog.bottom {
  bottom: -30%;
}

.dialog.bottom::after {
  top: 71%;
}

.dialog.left {
  right: -230px;
}

.dialog.left::after {
  left: 0;
  border-right-color: var(--ld-bg);
  border-left: 0;
  margin-left: -20px;
}

.dialog.right {
  left: -260px;
}

.dialog.right::after {
  right: 0;
  border-left-color: var(--ld-bg);
  border-right: 0;
  margin-right: -20px;
}

.dialog.show {
  display: flex;
}

.dialog::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  margin-top: -20px;
}

.dialog > div {
  display: flex;
  font-weight: 500;
  align-items: center;
  padding: 9px 0px;
  padding-bottom: 0px;
}

.dialog > div:nth-child(4) {
  padding-bottom: 7.06px;
}

.dialog > div:last-child {
  padding-bottom: 9px;
}

.dialog > div:last-child > span:last-child {
  margin-right: auto;
}

.dialog > div > span {
  margin: 0px 8px;
}

.dialog > div > span svg {
  height: 20px;
  width: 20px;
}

.dialog > div > span .color {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.dialog > div > span .color.red {
  background-color: var(--ld-red-1);
}

.dialog > div > span .color.orange {
  background-color: var(--ld-yellow-1);
}

.dialog > div > span .color.green {
  background-color: var(--ld-green-1);
}

.dialog > div > span .color.blue {
  background-color: var(--ld-blue-1);
}

.dialog > div > span .color.gray {
  background-color: var(--ld-gray-4);
}
