.btn {
  position: absolute;
  right: 2vw;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.1);
  display: flex;
  color: #333;
  justify-content: center;
  align-items: center;
  padding: 12px;
  cursor: pointer;
}
.dark {
  background-color: #333;
  color: white;
}
.dark .dialog {
  background-color: #333;
  color: white;
}
.dark .dialog.right::after {
  border-left-color: #333;
}
.dark .dialog.left::after {
  border-right-color: #333;
}
:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.dialog {
  display: none;
  transition: 0.2s;
  position: absolute;
  padding: 5px 7px;
  background-color: #fff;
  flex-direction: column;
  color: #333;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  cursor: default;
}
.dialog.top {
  top: 0;
}
.dialog.top::after {
  top: 30%;
}
.dialog.bottom {
  bottom: -30%;
}
.dialog.bottom::after {
  top: 71%;
}
.dialog.left {
  right: -230px;
}
.dialog.left::after {
  left: 0;
  border-right-color: #fff;
  border-left: 0;
  margin-left: -20px;
}
.dialog.right {
  left: -260px;
}
.dialog.right::after {
  right: 0;
  border-left-color: #fff;
  border-right: 0;
  margin-right: -20px;
}
.dialog.show {
  display: flex;
}
.dialog::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  margin-top: -20px;
}
.dialog > div {
  display: flex;
  font-weight: 500;
  align-items: center;
  padding: 9px 0;
  padding-bottom: 0;
}
.dialog > div:nth-child(4) {
  padding-bottom: 7.06px;
}
.dialog > div:last-child {
  padding-bottom: 9px;
}
.dialog > div:last-child > span:last-child {
  margin-right: auto;
}
.dialog > div > span {
  margin: 0 8px;
}
.dialog > div > span svg {
  height: 20px;
  width: 20px;
}
.dialog > div > span .color {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.dialog > div > span .color.red {
  background-color: #eb5757;
}
.dialog > div > span .color.orange {
  background-color: #f2994a;
}
.dialog > div > span .color.green {
  background-color: #6fcf97;
}
.dialog > div > span .color.blue {
  background-color: #78aefc;
}
.dialog > div > span .color.gray {
  background-color: #ccc;
}
