$white: #ffffff;
$transparent-black: rgb(79, 79, 79);
$dark-slate-gray: rgb(51, 51, 51);
$white-smoke: rgb(242, 242, 242);

.statsBar {
  background-color: $white;
  padding: 0 0 0 10px;
  box-shadow: 0 4px 4px 0 $transparent-black;
  display: flex;
  align-items: flex-start;
  position: relative;
}
.lockdownLogo {
  width: 3%;
  height: 40%;
  transform: scale(1.5);
  margin-top: 1.25em;
  margin-right: 2em;
}
.relativeWrapperOne {
  width: 30%;
  height: 50%;
  margin-top: 10px;
  margin-right: 38px;
  position: relative;
}
.territoriesInLockdown {
  height: 100%;
  width: 100%;
  color: $dark-slate-gray;
  display: flex;
  position: relative;
  font-weight: bold;
}
.numLockdown {
  height: 80%;
  width: 20%;
  color: $dark-slate-gray;
  display: flex;
  text-align: center;
  position: absolute;
  right: -14px;
  top: -3px;
  font-weight: bold;
  font-size: 18px;
}
.relativeWrapperTwo {
  width: 30%;
  height: 50%;
  margin-top: 10px;
  margin-right: 141px;
  position: relative;
}
.numAffected {
  height: 80%;
  width: 80%;
  color: $dark-slate-gray;
  display: flex;
  text-align: center;
  position: absolute;
  right: -109px;
  top: -3px;
  font-weight: bold;
  font-size: 18px;
}
.flexWrapperOne {
  background-color: $white-smoke;
  padding: 20px 7px 20px 7px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 0;
}
.vector {
  flex: 1;
  align-self: stretch;
  object-fit: cover;
}
