$white: #ffffff;
$transparent-black: rgb(79, 79, 79);
$dark-slate-gray: rgb(51, 51, 51);
$white-smoke: rgb(242, 242, 242);

.statsBar {
  background-color: $white;
  padding: 0 0 0 11px;
  box-shadow: 0 4px 4px 0 $transparent-black;
  display: flex;
  align-items: flex-start;
}
.lockdownLogo {
  width: 3.38%;
  height: 44.64%;
  margin-top: 13.39px;
  margin-right: 23.21px;
}
.relativeWrapperOne {
  width: 32.37%;
  height: 48%;
  margin-top: 17px;
  margin-right: 38px;
  position: relative;
}
.territoriesInLockdown {
  height: 100%;
  width: 100%;
  color: $dark-slate-gray;
  display: flex;
  position: relative;
  //@include montserrat-12-semi-bold;
}
.num056 {
  height: 79.17%;
  width: 20%;
  color: $dark-slate-gray;
  display: flex;
  text-align: center;
  position: absolute;
  right: -14px;
  top: -3px;
  //@include montserrat-18-semi-bold;
}
.relativeWrapperTwo {
  width: 24.28%;
  height: 48%;
  margin-top: 17px;
  margin-right: 141px;
  position: relative;
}
.num4700000000 {
  height: 79.17%;
  width: 95.56%;
  color: $dark-slate-gray;
  display: flex;
  text-align: center;
  position: absolute;
  right: -109px;
  top: -3px;
  //@include montserrat-17-semi-bold;
}
.flexWrapperOne {
  background-color: $white-smoke;
  padding: 19.54px 5.97px 19.05px 7px;
  display: flex;
  align-items: center;
}
.vector {
  flex: 1;
  align-self: stretch;
  object-fit: cover;
}
