.Totals {
  z-index: 2000;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: fit-content;
  padding: 0;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  font-family: montserrat,sans-serif;
  border-radius: 10px;    
  box-shadow: 1px 1px 9px -1px grey;
  background-color: white;
}

.Totals div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
  @media (max-width: 899px) {
    width: 144px;
  }
  padding: 0 16px;
  margin: 5px 0;
}

.dark {
  background-color: #333333!important;
  color: white;
}

.label {
  font-size: small;
}

.data {
  font-size: large;
  font-weight: 800;
}

div:not(:last-of-type)::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  background-color: #e0e0e0;
}



/* .dt {
  display: block;
}
.dd {
  margin-left: 0px;
  display: block;
} */