.zoom {
  background-color: var(--ld-bg);
  width: 50px;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 var(--ld-gray-4);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 2vw;
}

.zoomIn {
  margin-top: 15px;
  margin-bottom: 15px;
}

.zoomButton {
  width: 100%;
  height: 50%;
  cursor: pointer;
  svg {
    path {
      fill: var(--ld-text);
    }
  }
}

.zoomDividerLm {
  height: 1px;
  background-color: var(--ld-gray-4);
  align-self: stretch;
}

.zoomOut {
  margin-top: 15px;
  margin-bottom: 20px;
}
