.countriesSearcher #blank {
  display: none;
}

.countriesSearcher {
  height: 50px;
  min-width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 2vw;
  z-index: 1;
  background: var(--ld-bg);
  color: var(--ld-text);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  transition: width 1s;
}

.countriesSearcher:hover {
  cursor: pointer;
}

.countriesSearcher .icon-provider {
  color: var(--ld-text);
}

.countriesSearcher.show {
  border-radius: 25px;
  padding-left: 16px;
}

.countriesSearcher.show .icon-provider {
  margin-right: 20px;
}

.countriesSearcher.show > div {
  display: flex;
}

.countriesSearcher > div {
  position: relative;
  display: none;
  align-items: center;
}

.countriesSearcher > div .placeholder {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
  background: transparent;
  border: 0;
}

.countriesSearcher > div .countryInput {
  color: var(--ld-text);
  background: transparent;
  border: 0;
  outline: 0;
}
