.Header {
  z-index: 2000;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 55px;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12), 0 8px 8px 0 rgba(0, 0, 0, 0.24);
}

.Logo .dark {
  margin: 2vh auto;
  /* width: fit-content; */
  /* color: white; */
  --ld-text: #fff;
  width: auto;
}

.Logo {
  margin: 1vh auto;
  width: fit-content;
}

.Header .dark {
  position: relative;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 55px;
  /* width: 100%; */
  /* padding: 1vh 0; */
  background-color: #333333;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12), 0 8px 8px 0 rgba(0, 0, 0, 0.24);
  --ld-text: #fff;
}
